@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand&display=swap');

:root {
  --text-color: #1F1F1F;
  --secondary-text-color: #949596;
  --frame-color: #ebebeb;
  --beige: #f1efef;
  --bright-gray: #fafbfc;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}
