@charset "UTF-8";

$breakpoints: (
  "phone": 320px,
  "tablet": 768px,
  "desktop": 1024px,
) !default;

.top {
  position: fixed;
  top: 91vh;
  left: 96%;
  width: 36px;
  height: 36px;
  border-radius: 3px;
  background-color: var(--text-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}